<section class="container-loading">
  <div class="people">
    <div *ngIf="isLoading; then showLoading else hasPeople"></div>
    <ng-template #showLoading>
      <div class="loading">
        <mat-spinner></mat-spinner>
      </div>
    </ng-template>
    <ng-template #hasPeople>
      <div *ngIf="people && people.length === 0" class="no-people">
        <p>Não há contatos cadastrados.</p>
      </div>
      <div class="person" *ngFor="let person of people">
        <div class="person-detail">
          <div>
            <h3>{{person.name}}</h3>
            <ul>
              <li *ngFor="let contact of person.contacts">
                <small>
                  <strong>{{contact.type}}:</strong>
                  {{contact.value}}
                </small>
              </li>
            </ul>
          </div>
          <div class="person-buttons">
            <button (click)="editPerson(person)" class="edit-button" mat-mini-fab
              aria-label="Botão para edição de contato">
              <mat-icon>edit</mat-icon>
            </button>
            <button (click)="deletePerson(person)" mat-mini-fab color="warn"
              aria-label="Botão para exclusão de contato">
              <mat-icon>delete</mat-icon>
            </button>
          </div>
        </div>
      </div>
    </ng-template>
  </div>
</section>