* {
  padding: 0;
  margin: 0 auto;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  color: #444;
}

.container {
  display: flex;
  flex-direction: column;
  min-height: 85vh;
  max-width: 85vw;
  background: #eee;
}

.container-loading {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 85vh;
  max-width: 85vw;
  background: #eee;
}

.main section {
  width: 100vw;
}

a {
  text-decoration: none;
  transition: .4s;
}

a:hover {
  color: #DEC129;
}

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

input[type=submit] {
  font-size: 14px;
  font-weight: bold;
  background: #4758B8;
  color: white;
  margin: 10px;
  padding: 5px 10px 5px 10px;
  border-radius: 5px 5px 5px 5px;
  cursor: pointer;
}

form {
  width: 450px;
  margin: 0 auto;
}

.form-group {
  margin-bottom: 1em;
  text-align: left;
}

.form-group label {
  font-weight: bold;
  font-size: .9em;
  margin-bottom: .4em;
  text-align: left;
}

.form-group input {
  padding: .6em;
  color: #777;
  font-size: .8em;
}

.validation-error p {
  color: #dc3545;
  margin-top: 0.4em;
  border-left: 3px solid #dc3545;
  padding-left: 0.2em;
}

.loading {
  text-align: center;
}